html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #e6f3f0;
    overflow: hidden;
}
.header{
  padding: 40px;
}

#wrapper{
    padding-bottom: 81px;
    min-height: calc(100% - 81px);
    position: relative;
}

.container {

  position: relative;
  width: 100vw;
  height: 100vw;
  padding:12px;
  
 
 
}
.bubbles{
  position: relative;
  display: flex;

}
.bubbles span{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0.4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s /var(--i));
}
.bubbles span:nth-child(even){
background: #ff2d75;
box-shadow: 0 0 0 10px #ff2d7544,
0 0 50px #ff2d75,
0 0 100px #ff2d75;
}
@keyframes animate{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

.logo {
  width: 10%;
  height: 10%;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}

.text-container {
  display: flex;
  margin-top: -1%;
  justify-content: center;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  font-size: 3rem;
  text-align: center;
  height: 5vh;
  line-height: 5vh;
  color: #fcedd8e5;
  font-family: "Niconne", cursive;
  font-weight: 2;
  text-shadow: 1px 1px 0px #eb452b, 3px 3px 0px #efa032, 5px 5px 0px #46b59b,
    7px 7px 0px #017e7f, 9px 9px 0px #052939, 11px 11px 0px #c11a2b,
    13px 13px 0px #c11a2b, 15px 15px 0px #c11a2b, 15px 15px 0px #c11a2b;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
}

.texto {
  position: absolute;
  width: 40%;
  height: 18%;
  left: 12%;
  top: 10%;
  border:1px dotted #0a0a0a;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  background-color: transparent;
}
.texto::placeholder {
  color: #242323;
}

.texto:focus,
.texto:active {
  border:1px dotted #0a0a0a;
  outline: black;
}

.conditions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  position: absolute;
  width: 80%;
  left: 12%;
  top: 29%;
}

.vector {
  width: 1%;
  height: 1%;
}

.conditions p {
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #0a0a0a;
  width: 70%;
  opacity: 0.8;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1%;
  position: absolute;
  float: left;
  width: 56%;
  height: 15%;
  left: 12%;
  top: 31%;
  
}

#btn-encriptar {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 20%;
  height: 15%;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  border-radius: 10px;
  color: aliceblue;
  background: rgb(112, 116, 122);
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}

#btn-desencriptar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 20%;
  height: 15%;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  color: aliceblue;
  background: rgb(112, 116, 122);
  margin-left: 2%;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}
#btn-limpiar {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2%;
  gap: 8px;
  width: 20%;
  height: 15%;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  text-align: center;
  font-family: "Inter";
  font-weight: 400;
  text-align: center;
  color: aliceblue;
  background: rgb(112, 116, 122);
  margin-left: 2%;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}

#btn-encriptar:hover,
#btn-desencriptar:hover,
#btn-limpiar:hover {
  color:rgb(12, 12, 12);
  transform: scale(1.1);
 
 
}
.encriptado {
  width: 5%;
  height: 5%;
  display: flex;
  position: absolute;
  left: 70%;
  padding: 0%;
  margin: 0%;
}

.encriptado {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 30%;
  height: 50%;
  left: 60%;
  top: 8%;
  background-color:transparent;
  border: none;
  border-radius: 32px;
}

.div {
  position: absolute;
  width: 100%;
  height: 30%;
  left: 5%;
  top: 0%;
  background-color: transparent;
  border: none;
  border-radius: 32px;
}

.mensaje {
  display: flex;
  margin: 0 auto;
  width: 95%;
  height: 85%;
  border:1px dotted #0a0a0a;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-top: 2%;
  background-color: transparent;
}

.mensaje-encriptado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
  gap: 16px;
  position: absolute;
  width: 90%;
  top: 60%;
  text-align: center;
  background-color: rgb(247, 252, 247);
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}
.mensaje::placeholder {
  color: #242323;
}

.mensaje:focus,
.mensaje:active {
  border:1px dotted #0a0a0a;
  outline: black;
}

.mensaje-encriptado h2 {
  margin-right: -13%;
  width: 60%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  text-align: center;
  color: #343a40;
}

.mensaje-encriptado p {
  width: 80%;
  margin-right: -13%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #495057;
 
}

.encriptado img {
  position:relative;
  margin-right: -13%;
  width: 60%;
  height: 30%;
  top: 32%;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}
.logo {
  display: flex;
  margin: 0 auto;
  margin-top: 1%;
  margin-left: 4%;
  width: 4%;
  height: 4%;
}
.title {
  float: inherit;
  margin-left: 20%;
}
.copy {
  display: flex;
  position: relative;
  margin: 0%;
  width: 56%;
  height: 15%;
  top: 3%;
  border-radius: 10px;
  font-family: "Inter";
  font-size: 18px;
  line-height: 19px;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
  font-weight: 400;
  left: 25%;
  background: rgb(238, 240, 243);
  color: rgb(241, 8, 8);
  filter:brightness(1.1);
  mix-blend-mode: multiply;
}
.copy:hover{
  color: rgba(10, 56, 113, 1);
  transform: scale(1.1);
}

.pie{
  background: #bfb8f7;
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  left: 0;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
  
}
.redes{
  display:contents;
  position: relative;
  justify-content: center;
  filter:brightness(1.1);
  mix-blend-mode: multiply;
  
}

.redes a{
    font-size: 15px;  
    justify-content: center;
    margin: .8%;
    
}
.fb{
    background: rgb(0, 81, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.li{
    background: rgb(0, 102, 255);
    padding: 8px;
    border-radius: 50px;
    color: white;
}
.git{
    background: rgb(14, 13, 13);
    padding: 8px;
    border-radius: 50px;
    color: rgb(252, 249, 249);
}
.redes p{
  display: flex;
  font-family: fantasy;
  justify-content: center;
  font-size: 15px;
  font-style: normal;
  color: #e71a1a;
  width: 70%;
  opacity: 0.8;
  order: 1;
  flex-grow: 0;
  margin-top: 0.8%;
}

/*Diseño responsivo tablets*/
@media all and (max-width: 1200px) {



  .text-container {
    display: flex;
    position: relative;
    font-size: 40px;
    top:2%;


  }

  .logo {
    display: flex;
    position: relative;
    width: 10%;
    height: 10%;
    top:-7%;
  }
  .bubbles{
    position: relative;
    display: block;
  }
  

  .encriptar {
    width: 100%;

  }

  .texto {
    width: 70%;
    height: 25%;
    margin-left: 1%;
    top: 18%;
    font-size:14px;
  }

  .conditions {
    width: 80%;
    left: 10%;
    top: 44%;
  }

  .conditions p {
    font-size: 16px;
  }
  .vector {
  width: 3%;
  height: 3%;
}

  .buttons {
    width: 70%;
    left: 13%;
    top: 50%;
  }

  #btn-encriptar,
  #btn-desencriptar,
  #btn-limpiar {
    width: 35%;
    height: 25%;
    font-size:12px;
    border-radius: 7px;
  }

  #btn-encriptar:hover,
  #btn-desencriptar:hover {
    color:rgb(12, 12, 12);
    transform: scale(1);
  }

  .encriptado {
   
    width: 150%;
    height: 55%;
    left: 0%;
    top: 55%;
   
  }

  .div {

    width: 100%;
    height: 90%;
    
   
  }

  .mensaje {
   
    width: 48%;
    height: 45%;
    margin-left: 3%;
    top: 21%;
    font-size: 14px;


  }

  .mensaje-encriptado {
    width: 100%;
    margin-left:-50%;
    font-size:14px;
    margin-top:-3%;
    display: flex;   

  }
  #txt1{
    margin-top:7%;
    margin-left:5%;
  }
    #txt3{
    margin-top:7%;
    margin-left:5%;
  }


  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }

  .copy {
    display: flex;
    position: absolute;
    margin-top: 19%;
    margin-left: -4%;
    width: 15%;
    height: 9%;
    font-size:12px;
    border-radius: 7px;

  }
  .pie{
    background: #bfb8f7;
    width: 100%;
    height: 8%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 10px;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    
  }
}

/*Diseño responsivo celulares*/
@media all and (max-width: 720px) {
  .text-container {
    display: flex;
    position: relative;
    font-size: 30px;
    top:2%;

  }

  .logo {

    width: 10%;
    height: 10%;
  }
  .bubbles{
    position: relative;
    display: flex;
  }
  

  .encriptar {
    width: 100%;

  }

  .texto {
    width: 70%;
    height: 25%;
    margin-left: 1%;
    top: 28%;
    font-size:14px;
  }

  .conditions {
    width: 80%;
    left: 10%;
    top: 55%;
  }

  .conditions p {
    font-size: 16px;
  }

  .buttons {
    width: 70%;
    left: 13%;
    top: 68%;
  }

  #btn-encriptar,
  #btn-desencriptar,
  #btn-limpiar {
    width: 35%;
    height: 25%;
    font-size:12px;
    border-radius: 7px;
  }

  #btn-encriptar:hover,
  #btn-desencriptar:hover {
    color:rgb(12, 12, 12);
    transform: scale(1);
  }

  .encriptado {
   
    width: 150%;
    height: 55%;
    left: 0%;
    top: 80%;
   
  }

  .div {

    width: 100%;
    height: 90%;
    
   
  }

  .mensaje {
   
    width: 48%;
    height: 55%;
    margin-left: 3%;
    top: 61%;
    font-size: 14px;


  }

  .mensaje-encriptado {
    width: 100%;
    margin-left:-48%;
    font-size:14px;
    margin-top:5%;
    display: flex;   

  }
  #txt1{
    margin-top:7%;
    margin-left:5%;
  }
    #txt3{
    margin-top:7%;
    margin-left:5%;
  }
  .encriptado img {
    top: 0;
    display: none;
    visibility: hidden;
  }

  .copy {
    display: flex;
    position: absolute;
    margin-top: 22%;
    margin-left: -4%;
    width: 15%;
    height: 9%;
    font-size:12px;
    border-radius: 7px;

  }
  .pie{
    background: #bfb8f7;
    width: 100%;
    height: 8%;
    position: absolute;
    font-size: 2px;
    filter:brightness(1.1);
    mix-blend-mode: multiply;
    
  }
}